/* Add CSS Styling */

.odd-numbered {
    background-color: rgb (255,130,200); font-family: "Verdana", "DejaVu Sans", sans-serif ;
}

#number2 {
    font-size: 36px;
    color: rbg (0, 100, 255)
}

.size24 {
    font-size: 24px;
}

#number4 {
    background-color: #71f488; font-weight: 700;
}