/* Add CSS Styling */

.a {
    background-color: #000000; color: rgb(255,255,255)
}

.b {
    background-color: rgb(255,230,0);
}

.a,
.b {
    font-size: 28px; font-family: Helvetica, "Times New Roman", sans-serif;
}